* {
  font-family: 'Roboto', sans-serif;
}

.filter-selector {
  border: none;
  background: none;
  outline: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.input-form {
  width: 60%;
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  border: 3px solid darkslateblue;
  margin: 1rem;
  background-color: rgba(243, 243, 243, 0.452);
}

.input-form.low {
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  border: 3px solid rgb(61, 139, 92);
  margin: 1rem;
  background-color: rgba(243, 243, 243, 0.452);
}

.input-form.high {
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  border: 3px solid rgba(248, 37, 37, 0.584);
  margin: 1rem;
  background-color: rgba(243, 243, 243, 0.452);
}

.input-form.normal {
  padding: 10px;
  border-radius: 6px;
  font-size: 14px;
  border: 3px solid slateblue;
  margin: 1rem;
  background-color: rgba(243, 243, 243, 0.452);
}

.form-edit {
  width: 50%;
  margin: 0 0;
  padding: 0;
}

.input-edit {
  padding: 10px;
  width: 100%;
  margin: 0;
  border-radius: 6px;
  font-size: 14px;
  background-color: darkslateblue;
  color: white;
  border: 3px solid darkslateblue;
}

input:focus {
  outline: none;
}

.app {
  background: darkslateblue;
  color: black;
  height: 100vh;
  padding: 30px;
  width: 300px;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  color: darkslateblue;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  padding: 5px;
}

.todo-form-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: white;
}

.todo-form {
  display: flex;
  flex-direction: column;
  color: darkslateblue;
  border-radius: 4px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.todo {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin: 0.4rem;
  padding: 0 1rem;

}

.todo-completed {
  align-items: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin: 0.4rem;
  padding: 0 1rem;
  text-decoration: line-through;
  animation: fadeIn 0.5s ease-in-out;
}

.todo-edit {
  align-items: center;
  background: darkslateblue;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin: 0.4rem;
  padding: 0;
  color: white;
  animation: fadeIn 0.5s ease-in-out;
}

.btn {
  border: none;
  background: darkslateblue;
  padding: 10px;
  border-radius: 6px;
  color: #fff;
  font-size: 12px;
  border: 3px solid darkslateblue;
  margin: 1rem;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn-check {
  border: none;
  background: none;
  padding: 0.3rem;
  border-radius: 6px;
  color: darkslateblue;
  font-size: 1.5rem;
}

.btn-check:hover {
  cursor: pointer;
  opacity: 0.8;
}

.counter {
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 0 2rem;
}

